body{
	background-image: linear-gradient(
		to right,
		rgb(21, 190, 196, 1), 
		rgba(21, 190, 196, 1),
		rgba(21, 190, 196, 1)
        );
} 


.font-text{
    font-family: 'Nunito'; 
    color: white;
  }
  
  

.custom-cards{
height: 150px;
width: 350px;
background-color: transparent;
border: solid rgb(255, 255, 255) 3px;
}

.custom-cards:hover{
border: solid blue 3px;
cursor: pointer;
}

.custom-cards .link-color{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
  }

.custom-cards .link-color:hover{
    color: blue;
  }


  